{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "func-names": "off"
  }
}
