{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "max-classes-per-file": "off",
    "no-restricted-properties": "off",
    "no-constant-condition": "off",
    "no-unused-vars": "off"
  }
}
